<div class="jumbotron mt-3">
  <h1 class="display-4">SPA SEO Example</h1>
  <div class="lead">
    A pattern for adding SEO features to SPA based applications like Angular, React, Vue, etc. Search engines like Google and Bing and social media sites like Facebook, Twitter,
    and LinkedIn typically expect server side rendering to read meta tags. You also need to update the meta tags when routing
    changes on the client side since some social sharing components rely on them.
  </div>
  <hr />
  <p class="lead float-right">
    <a class="btn btn-success" href="//github.com/jmlivingston/angular-cli-seo" target="new">GitHub</a>
    <a class="btn btn-success" href="//johnlivingston.io" target="new">johnlivingston.io</a>
  </p>
</div>
<h3>Technologies</h3>
<ul>
  <li>Angular (Same approach for WebPack enabled frameworks like React and Vue.)</li>
  <li>Node</li>
  <li>ExpressJS</li>
  <li>Handlebars</li>
  <li>WebPack</li>
</ul>
<hr />
<h4>Demo</h4>
<p>Open browser dev tools, refresh or click a link to see changes in &lt;head&gt; &lt;meta&gt; tags</p>
<ul>
  <li>
    <a routerLink="/">/ - default</a>
  </li>
  <li>
    <a routerLink="/page-one">/page1</a>
  </li>
  <li>
    <a routerLink="/page-two">/page2</a>
  </li>
  <li>
    <a routerLink="/page-three">/page3 - no SEO data, reverts to default</a>
  </li>
</ul>
<hr />
<h4>Client</h4>
<p>Changes during client side routing change. Calls api/seo API</p>
<pre><code>{{seo?.title}}</code></pre>
<router-outlet></router-outlet>
<hr />
<h4>Server</h4>
<p>Populates on intial load or refresh</p>
<!-- See index.html to see data-binding in Handlebars -->